# IDE stuff
.idea
*.pyc

# Dynamic data, test and/or production
test_data
data

# Production login creds, please don't check these in!
config/*creds.json

# System executables and installers
lib/*chrome*

# Misc.
.DS_Store
cw.egg-info
